<!DOCTYPE html>
<html>

<head>
    <title>Upload</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>


<body>

    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="upload-wrapper">
		<label><div class="select-file"> select file 
            <input class="file-upload-input" type="file" name="file" accept="image/*" multiple>
		</div></label>
		
        <div><input type="submit" value="Upload" class="btn"></div>
			
		
	   </div>
    </form>

</body>
<script>

    $("#file-picker").change(function () {

        var input = document.getElementById('file-picker');

        for (var i = 0; i < input.files.length; i++) {
            //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext = input.files[i].name.substring(input.files[i].name.lastIndexOf('.') + 1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png') || (ext == 'jpeg')) {
                $("#msg").text("Le Fichier est Supportable")
            }
            else {
                $("#msg").text("Fichier Non Supportable !!")
                document.getElementById("file-picker").value = "";
            }

        }


    });

</script>

</html>